@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wraper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wraper h1{
    font-size: 35px;
    text-align: center;
}

.wraper .input-box{
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box > ion-icon{
    position: absolute;
    right: 63px;
    font-size: 25px;
    transform: translateY(100%);
}

.wraper .remenber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remenber-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remenber-forgot a{
    color: #fff;
    text-decoration: none;
}

.remenber-forgot a:hover{
    text-decoration: underline;
}

.wraper .btn{
    width: 100%;
    height: 45px;
    background: hsl(180, 7%, 97%);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #07b925;
    font-weight: 600;
}

.wraper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p  .link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p .link:hover{
    text-decoration: underline;
}

