.form_container{
    width: 20%;
    height: 70;
}

@media screen and (max-width: 1000px) {
    .form_container{
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .form_container{
        width: 65%;
    }
}

.nav-pills li a:hover {
    background-color: dodgerblue;
}